/*
==================
VARIABLES
==================
*/
:root {
   --primaryColor: #f15025;
   --mainBlack: #222;
   --mainWhite: #fff;
   --offWhite: #f7f7f7;
   --darkGray: #afafaf;
   --mainTransition: all 0.3s linear;
   --mainSpacing: 0.2rem;
}
/*
==================
GLOBAL STYLES
==================      
*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* background: rgb(205, 247, 199); */
   font-family: 'Fira Code', monospace;
   color: var(--mainBlack);
   background: rgb(205, 247, 199); /* var(--mainWhite) */
   line-height: 1.5;
}

a {
   text-decoration: none;
}

img {
   width: 100%;
   display: block;
}

h1,
h2,
h3 {
   text-transform: capitalize;
   letter-spacing: var(--mainSpacing);
   margin-bottom: 1.25rem;
}

h1 {
   font-size: 3rem;
}

h2 {
   margin-bottom: 0;
}

p {
   font-weight: 300;
   font-size: 0.7rem;
   line-height: 2;
}

/*
==================
BUTTON
==================
*/

.btn {
   display: inline-block;
   padding: 0.5rem 1rem;
   text-transform: capitalize;
   border: 3px solid var(--primaryColor);
   color: var(--primaryColor);
   margin: 3rem;
   transition: var(--mainTransition);
}

.btn:hover {
   background: var(--primaryColor);
   color: var(--mainWhite);
}

/*
==================
MAIN NAVBAR
==================
*/
.main-navbar {
   background: var(--darkGray);
   padding: 0 2rem;
}

.main-navbar li {
   list-style: none; /* quita las bolitas de las listas */
}

.main-navbar a {
   text-transform: capitalize;
   display: block;
   padding: 1rem 0;
   color: var(--mainWhite);
   letter-spacing: var(--mainSpacing);
   transition: var(--mainTransition);
   font-weight: bolder;
}

.main-navbar a:hover {
   color: var(--mainBlack);
}

@media screen and (min-width: 992px) {
   .main-navbar ul {
      max-width: 1170px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
   .main-navbar a {
      text-align: center;
   }
}

/*
==================
HERO
==================
*/

.hero-header {
   min-height: 100vh;
   background: var(--primaryColor);
   color: var(--mainWhite);
   /* para alinear */
   display: grid;
   justify-content: center;
   align-items: center;
}

.hero-banner {
   background: blue;
}

.hero-banner h1 {
   text-align: center;
}

.hero-banner p {
   margin: 0 auto;
   width: 80%;
   max-width: 560px;
   font-size: 1rem;
}

/* aplica bajo 600px */
@media screen and (max-width: 600px) {
   .hero-banner {
      padding: 0 3rem;
   }
}

@media screen and (min-width: 768px) {
   .hero-header {
      background: linear-gradient(rgba(241, 80, 37, 0.75), rgba(0, 0, 0, 0.75)),
         url('./images/image-2.jpeg') center/cover fixed no-repeat;
   }
}

/*
==================
CARDS
==================
*/
.title {
   text-align: center;
}

.cards {
   padding: 4rem 0;
}

.cards-center {
   width: 80vw;
   max-width: 1170px;
   margin: 2rem auto;
}

.card {
   border: 1px solid var(--darkGray);
   margin-bottom: 3rem;
}

.card-info {
   padding: 1rem;
}

.card-footer {
   background: var(--darkGray);
   padding: 0.5rem 1rem;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
}

.card-footer span {
   color: var(--primaryColor);
   /* mio pa ajustar el icono dentro del span */
   display: grid;
   align-items: center;
}

/* 2 y 3 cols con mediaquerys

@media screen and (min-width: 768px) {
   .cards-center {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
   }
}

@media screen and (min-width: 1170px) {
   .cards-center {
      grid-template-columns: repeat(3, 1fr);
   }
} */

/* para calcular sin media query
quiero 3 cols =>
el maximo ancho del q dispongo - la suma de todos los gaps ( q en este caso son 2 de 2rem ( 32px c/u ) , todo dividido por 3 ( la cantidad de cols q quiero )

( 1170 * .8 - 64 ) / 3 = 368

( 🚨🙀🚨 se le olvido q solo puede ocupar el 80vw , así da 290, ASÍ SI, AL LLEGAR A 1170 TENGO LAS 3 COLS )

para 4 cols al llegar a 1170 ( 32 x 3 , los gaps = 96)
( 1170 * .8 - 96 ) / 4 = 210

*/

/* 3 cols
   .cards-center {
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
} */

/* 4 cols */
.cards-center {
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

/* PARA CONTROLAR LA ALTURA DE LAS ROWS, XQ NO SIEMPRE ( GENERALMENTE NO ) SE TIENE EL MISMO CONTENIDO EN TODAS LAS CARTAS, XLO Q TENDRIAN DISTINTAS ALTURAS */

.card {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr auto;
   /* dentro de c/card hay 3 secciones, la imagen y el footer van a estar con auto y el p va a tomar todo el espacio restante ( en este caso ), tambien se le pueden poner valores fijos a la imagen y footer */
}

/*
==================
TILES
==================
*/
.tiles {
   padding: 4rem 0;
}

.tiles-center {
   width: 90vw;
   max-width: 1170px;
   margin: 2rem auto;
   display: grid;
   row-gap: 2rem;
}
/* para q se ajusten al tamaño */
.tiles img {
   height: 100%;
   object-fit: cover;
}

@media screen and (min-width: 768px) {
   .tiles-center {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
   }
}

@media screen and (min-width: 992px) {
   .tiles-center {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (min-width: 1170px) {
   .tiles-center {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 200px);
      grid-template-areas:
         'a a a b'
         'a a a c'
         'd d d d'
         'e f f f'
         'e g h i';
   }

   .tile-1 {
      grid-area: a;
   }
   .tile-2 {
      grid-area: b;
   }
   .tile-3 {
      grid-area: c;
   }
   .tile-4 {
      grid-area: d;
   }
   .tile-5 {
      grid-area: e;
   }
   .tile-6 {
      grid-area: f;
   }
   .tile-7 {
      grid-area: g;
   }
   .tile-8 {
      grid-area: h;
   }
   .tile-9 {
      grid-area: i;
   }
}

/* 































*/
